VITE_OFFLINE_API_BASE=https://api.wardenburg.nl
VITE_OFFLINE_AAD_TENANT_ID=<tenant-id>
VITE_OFFLINE_AAD_CLIENT_ID=<application-client-id-van-ember-offline>
VITE_OFFLINE_API_APP_ID=<application-client-id-van-de-bestaande-ember-api>
