/* /src/index.css  */

:root{
  color-scheme: dark;
}

html[data-appearance="light"]{
  color-scheme: light;
}

html[data-appearance="dark"]{
  color-scheme: dark;
}

*{
  box-sizing: border-box;
}

html,
body,
#root{
  min-height: 100%;
}

body{
  margin: 0;
}